<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :genre_name %>
  <%= f.text_field :genre_name if 1 = 2 %>

  <br />

  <%= f.submit %>
<% end %>
